{% extends 'base.html' %}

{% block content %}

<h1>Преимущества: чем хорош Python</h1>

<div>
    Специалисты выделяют массу преимуществ Python — остановимся на ключевых из них.
</div><br><br>
<h3>Простота синтаксиса, а значит — низкий порог вхождения.</h3>
<div>&emsp;&emsp;&emsp;Код языка чистый и понятный, без лишних символов и выражений.</div>
<h3>Расширяемость и гибкость.</h3>
<div>&emsp;&emsp;&emsp;Не зря один из слоганов языка — это «Just Import!» Python можно легко расширить для взаимодействия с другими программными системами или встроить в программы в качестве компонента. Он очень и очень гибкий. Это даёт больше возможностей для использования языка в разных сферах.</div>
<h3>Интерпретируемость и кроссплатформенность. </h3>
<div>&emsp;&emsp;&emsp;Интерпретатор Python есть для всех популярных платформ и по умолчанию входит в большинство дистрибутивов Linux.</div>
<h3>Стандартизированность. </h3>
<div>&emsp;&emsp;&emsp;У Python есть единый стандарт для написания кода — Python Enhancement Proposal или PEP, благодаря чему язык остаётся читабельным даже при переходе от одного программиста к другому.</div>

<h3>Open Source.</h3>
<div>&emsp;&emsp;&emsp;У интерпретатора Python открытый код, то есть любой, кто заинтересован в развитии языка, может поучаствовать в его разработке и улучшении.</div>
<h3>Сильное комьюнити и конференции.</h3>
<div>&emsp;&emsp;&emsp;Вокруг Python образовалось дружественное комьюнити, которое готово прийти на помощь новичку или уже опытному разработчику и разобраться в его проблеме. Во всём мире проходит много мероприятий, где можно познакомиться с коллегами и узнать много нового о применении Пайтона.</div>
<h3>Широта применения. </h3>
<div>&emsp;&emsp;&emsp;Наиболее широко Python используется в web-разработке, работе с данными, автоматизации бизнес-процессов и геймдеве.</div>
<h3>Востребованность на рынке труда и поддержка гигантами IT-сферы. </h3>
<div>&emsp;&emsp;&emsp;Python-разработчики востребованы во многих проектах и им несложно найти работу. Разработку на Python ведут в Google, Facebook, Dropbox, Spotify, Quora, Netflix, Microsoft Intel, а в России — «Яндекс», «ВКонтакте» и «Сбербанк». Это серьёзно влияет на статус языка.</div>


{% endblock %}