{% extends 'base.html' %}

{% block content %}

<h1>Насколько Python популярен</h1>

<div>
    По данным GitHub за 2023 год, Python входит в топ-3 самых популярных языков, уступая лишь JavaScript.
</div>
<div>В чём секрет такой популярности в использовании языка? Python подходит для решения широкого круга задач и применяется на всех популярных платформах. Росту популярности Python способствовала и его эффективность в стремительно развивающихся сферах Machine Learning и Data Science.
Ещё одна причина — техническая. С развитием технологий увеличились вычислительные мощности персональных компьютеров и серверов, как результат — вырос спрос на интерпретируемые языки программирования, в том числе и на использование Python. Дело в том, что в таких языках помимо запуска самой программы необходим ещё запуск интерпретатора, а это требует дополнительных ресурсов. Раньше с этим были проблемы, но теперь они решены.
</div>

{% endblock %}
